.sections {
	padding-top: 30px;
	min-width: 0;
}

.sections:before {
	height: auto;
}

.section-left {
	display: none;
}

.section-right {
	display: block;
	width: 100%;
	padding-top: 0;
}

.download {
	text-align: center;
	color: #8E9196;
	padding-bottom: 30px;
}

.footer {
	text-align: center;
	padding-bottom: 30px;
}

h1 {
	font-size: 44px;
	position: relative;
	top: 14px;
	color: #171717;
}

h2 {
	line-height: 1.625;
	font-size: 20px;
}

.hero {
	background: none;
	box-shadow: none;
}

.download > .flag__body, .download > .flag__image {
	display: block;
	margin: auto;
	padding: 0;
}

.download > .flag__image {
	margin-bottom: 10px;
}

.blurb {
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 28px;
	color: #8E9196;
}

.peek {
	display: block;
	padding-bottom: 30px;
}


.peek > img {
	max-width: 100%;
}