.sections {
	padding-top: 60px;
}

.sections:before {
	height: auto;
}

.section-left {
	display: none;
}

.section-right {
	display: block;
	width: 100%;
	padding-top: 0;
}

.download {
	text-align: center;
}

.footer {
	text-align: center;
	padding-bottom: 30px;
}

h1 {
	font-size: 44px;
	position: relative;
	top: 14px;
}

h2 {
	line-height: 1.625;
	font-size: 20px;
}

.hero {
	background: #006A7D;
	height: 100%;
}


.download > .flag__body, .download > .flag__image {
	display: block;
	margin: auto;
	padding: 0;
}

.download > .flag__image {
	margin-bottom: 10px;
}

.blurb {
	margin-bottom: 60px;
}